---
import ArrayIcon from "./icons/ArrayIcon.astro";
---

<section
  class="flex flex-col lg:flex-row gap-x-4 max-w-[1120px] justify-center items-center mt-10 mb-10"
>
  <img
    src="../../image.webp"
    alt=""
    class="rounded-full w-80 h-80 ml-4 object-cover"
  />
  <span class="w-full mt-10 text-xl text-white lg:ml-12">
    <h2 class="text-3xl text-yellow-200/90 mb-4">Sobre Mi</h2>
    <p>
      <p class="mb-2">
        Hola mi nombre es Tiago Navarro. <br />
      </p>
      Arranque programando en C y cada vez fui adentrandome mas en el mundo de la
      programacion, hasta que termine encontrando el mundo del Desarrollo Web.<br
      />
      <p class="mt-2">
        Disfruto mucho creando las mejores experiencias web para los usuarios.
      </p><br />
      <p class="flex flex-col">
        Si te gusto lo que viste contactame <ArrayIcon class="w-8 h-8" />
      </p>
    </p>
  </span>
</section>
