<section class="flex flex-col lg:flex-row justify-center">
  <div class="flex flex-col gap-4 w-full text-sm sm:text-base text-white">
    <h2 class="text-3xl text-yellow-200/90 mb-4">Sobre Mí</h2>
    <p>
      ¡Hola! Soy Tiago Navarro, desarrollador web con una sólida base en
      programación que comenzó en el lenguaje C y evolucionó hasta encontrar mi
      verdadera pasión: crear experiencias web de calidad. Mi objetivo es
      construir interfaces intuitivas y atractivas, siempre centradas en brindar
      la mejor experiencia al usuario.
    </p>
    <p>
      Con un enfoque en el diseño y la funcionalidad, disfruto de cada paso del
      desarrollo, desde la idea inicial hasta la implementación final. Mi
      motivación principal es innovar y perfeccionar las herramientas digitales
      que acompañan a las personas en su día a día, haciéndolas más accesibles y
      efectivas.
    </p>
    <p>
      Si estás buscando a alguien que aporte compromiso, creatividad y enfoque
      en los detalles, ¡me encantaría colaborar en tu próximo proyecto web!
    </p>
  </div>
  <div class="flex w-full items-center">
    <img src="/profile-pic (1).webp" alt="Imagen Perfil" class="" />
  </div>
</section>
