<span
  class="bg-blue-100 text-blue-800 hover:bg-emerald-300 hover:text-black text-sm font-medium rounded dark:bg-blue-900 dark:text-blue-300 p-1 scale-75 sm:scale-100"
  area-label="badge"
>
  <slot />
</span>
