---
const CERTIFICADOS = [
  {
    title: "Certificado de Prácticas Laborales",
    description:
      "Reponsable de Frontend, diseño y comunicación. Trabajando con TypeScript, React, Redux, Tailwind y Azure para el deploy. Un equipo de 7 personas realizamos la pasantía de esta ONGD Multinacional que duró desde el 6 de enero hasta el 9 de febrero de 2024",
    image: "/Certificado Awaq.webp",
  },
  {
    title: "Certificado de Graduación",
    description:
      "Certificado de Desarrollador Full Stack con +800 horas de cursada con teoria y ejercicios practicos individuales y grupales donde aprendimos HTML, CSS, JavaScript, React, Redux, Nodejs, Express, Sequelize, PostgreSQL.",
    image: "/Certificado Henry.webp",
  },
];
---

{
  CERTIFICADOS.map(({ image, description, title }) => (
    <article class="flex flex-col sm:flex-row gap-6 my-6 w-full">
      <div class="flex flex-col w-full ">
        <img
          src={image}
          class="sm:w-auto object-cover lg:w-full cursor-pointer rounded-md shadow-md transition-all hover:shadow-xl hover:shadow-white/30"
          alt="imagen Certificado"
        />
      </div>
      <div class="flex flex-col md:max-w-none gap-2 sm:max-w-[500px] w-full">
        <h3 class=" font-semibold text-2xl text-yellow-200/80">{title}</h3>
        <p class="mt-6 text-white font-normal text-sm sm:text-base">
          {description}
        </p>
      </div>
    </article>
  ))
}
