---
import ExperienceItems from "./ExperienceItems.astro";
const EXPERIENCIE = [
  {
    date: "Present...",
    title: "Desarrollador Full Stack de Practica en Awaq ONGD",
    description:
      "Con un equipo de Desarrolladores y diseñadores, creamos una pagina completa para el Campus de Awaq , con creacion y autenticacion de usuarios, consumo de informacion desde la Base de datos, dashboards de usuario y administradores.",
    link: "",
  },
];
---

<ol
  class="relative border-s w-full justify-center lg:w-[1000px] mx-auto border-gray-200 dark:border-gray-700"
>
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItems {...experiencie} />
      </li>
    ))
  }
</ol>
