<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto py-6 backdrop-blur-3xl"
>
  <nav
    class="flex justify-center gap-4 flex-wrap md:justify-end text-white text-xs sm:text-sm md:flex-row md:gap-10 opacity-80"
  >
    <a
      href="#experiencia"
      aria-label="Experiencia"
      class="hover:text-yellow-400">Experiencia</a
    >
    <a href="#proyectos" aria-label="Proyectos" class="hover:text-yellow-400"
      >Proyectos</a
    >
    <a href="#sobre-mi" aria-label="Sobre mí" class="hover:text-yellow-400"
      >Sobre mí</a
    >
    <a href="mailto:navarrotiago194@gmail.com" class="hover:text-yellow-400"
      >Contacto</a
    >
  </nav>
</header>
