<header
  class="flex px-6 h-14 items-center fixed w-auto rounded-full z-50 backdrop-blur-3xl bg-slate-400/30"
>
  <nav
    class="flex justify-center flex-wrap md:justify-end text-white md:flex-row gap-10 opacity-80 mx-auto"
  >
    <a
      href="#experiencia"
      aria-label="experiencia"
      class="hover:text-yellow-400">Experiencia</a
    >
    <a
      href="#certificados"
      aria-label="certificados"
      class="hover:text-yellow-400">Certificados</a
    >
    <a href="#proyectos" aria-label="proyectos" class="hover:text-yellow-400"
      >Proyectos</a
    >
    <a href="#sobre-mi" aria-label="sobre mi" class="hover:text-yellow-400"
      >Sobre mí</a
    >
    <a href="mailto:navarrotiago194@gmail.com" class="hover:text-yellow-400"
      >Contacto</a
    >
  </nav>
</header>
