<header
  class="flex justify-center text-xl items-center py-8 w-full xl:w-[1120px] mx-auto"
>
  <nav
    class="flex justify-center flex-wrap md:justify-end text-white md:flex-row gap-10 opacity-80 mx-auto"
  >
    <a href="#top" class="hover:text-blue-600">Inicio</a>
    <a href="#experiencia" class="hover:text-blue-600">Experiencia</a>
    <a href="#certificados" class="hover:text-blue-600">Certificados</a>
    <a href="#proyectos" class="hover:text-blue-600">Proyectos</a>
    <a href="#sobre-mi" class="hover:text-blue-600">Sobre Mi</a>
    <!-- <a href="#contacto" class="hover:text-blue-600">Contacto</a> -->
  </nav>
</header>
