<header
  class="flex px-6 py-4 h-16 items-center fixed max-w-full rounded-full z-50 backdrop-blur-3xl bg-slate-400/30"
>
  <nav
    class="flex justify-center gap-4 flex-wrap md:justify-end text-white md:flex-row md:gap-10 opacity-80 mx-auto"
  >
    <a
      href="#experiencia"
      aria-label="Experiencia"
      class="hover:text-yellow-400">Experiencia</a
    >
    <a
      href="#certificados"
      aria-label="Certificados"
      class="hover:text-yellow-400">Certificados</a
    >
    <a href="#proyectos" aria-label="Proyectos" class="hover:text-yellow-400"
      >Proyectos</a
    >
    <a href="#sobre-mi" aria-label="Sobre mí" class="hover:text-yellow-400"
      >Sobre mí</a
    >
    <a href="mailto:navarrotiago194@gmail.com" class="hover:text-yellow-400"
      >Contacto</a
    >
  </nav>
</header>
