<header
  class="flex px-6 justify-between h-20 xl:justify-evenly items-center fixed top-0 left-0 w-full z-50 backdrop-blur-3xl"
>
  <nav
    class="flex justify-center flex-wrap md:justify-end text-white md:flex-row gap-10 opacity-80 mx-auto"
  >
    <a href="#experiencia" aria-label="experiencia" class="hover:text-blue-600"
      >Experiencia</a
    >
    <a
      href="#certificados"
      aria-label="certificados"
      class="hover:text-blue-600">Certificados</a
    >
    <a href="#proyectos" aria-label="proyectos" class="hover:text-blue-600"
      >Proyectos</a
    >
    <a href="#sobre-mi" aria-label="sobre mi" class="hover:text-blue-600"
      >Sobre mí</a
    >
    <a href="mailto:navarrotiago194@gmail.com" class="hover:text-blue-600"
      >Contacto</a
    >
  </nav>
</header>
